In [47]:
import numpy as np
import pandas as pd
import datetime

import dataset
import trainer

from sklearn.model_selection import train_test_split

%load_ext autoreload
%autoreload 2

seed = 0
np.random.seed(seed)
'''import torch
torch.manual_seed(seed)
if trainer.opt['cuda']:
    torch.cuda.manual_seed_all(seed)
'''

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

"import torch\ntorch.manual_seed(seed)\nif trainer.opt['cuda']:\n    torch.cuda.manual_seed_all(seed)\n"

In [72]:
folder = r'C:\Users\mirce\OneDrive\Code\UiPath\Invoice'
preprocess = False
save = True
if preprocess:
    df = pd.read_csv(folder + r'\dataset-synthetic.tsv', sep='\t')
    df = df.rename(columns = {'value':'text'})
    train = int(df.shape[0]*0.8)
    df_train = pd.DataFrame(df[:train])
    df_test = pd.DataFrame(df[train:])
    data = dataset.Dataset(None, df_train, df_test)
    data.preprocess()
    if save:
        data.df_train['words'] = data.df_train['words'].apply(lambda x: ' '.join(x))
        data.df_test['words'] = data.df_test['words'].apply(lambda x: ' '.join(x))
        data.df_train.to_csv(folder + r'\train.csv', index=False)
        data.df_test.to_csv(folder + r'\test.csv', index=False)        
        df_train['words'] = df_train['words'].apply(lambda x: x.split(' '))
        df_test['words'] = df_test['words'].apply(lambda x: x.split(' '))
else:
    df_train = pd.read_csv(folder + r'\train.csv')
    df_train = df_train.fillna(' ')
    df_train['words'] = df_train['words'].apply(lambda x: x.split(' '))
    df_test = pd.read_csv(folder + r'\test.csv')
    df_test = df_test.fillna(' ')
    df_test['words'] = df_test['words'].apply(lambda x: x.split(' '))
    data = dataset.Dataset(None, df_train, df_test)

In [53]:
file = r'C:\Users\mirce\OneDrive\Datasets\Classification\Receipts\dataset.csv'
df = pd.read_csv(file)
#df = df[['text', 'label', 'x1', 'y1', 'x2', 'y2']]
df = df[['text', 'label']]
df = df[df.label != 'O']
df = df[df.label != 'I']
np.random.seed(seed)
df_train, df_test = train_test_split(df, test_size=0.25, stratify=df.label)
data = dataset.Dataset(None, df_train, df_test)
data.df_train

,text,label,text_parsed,words
670,HYATT REGENCY CAMBRIDGE,2,HYATT REGENCY CAMBRIDGE,"[hyatt, regency, cambridge]"
231,"Charlotte, NC 28277-3654",0,"Charlotte, NC 28277-3654","[charlotte, nc, 28277, 3654]"
229,Ballantyne,0,Ballantyne,[ballantyne]
46,535 Bellevue Square,0,535 Bellevue Square,"[535, bellevue, square]"
643,CHECK # 66608 DATE 4/02/18,1,CHECK # 66608 DATE 4/02/18,"[check, 66608, date, 4/02/18]"
355,05/21/18 12:48:21,1,05/21/18 12:48:21,"[05/21/18, 12:48:21]"
674,APR03'18 10:08AM,1,APR03'18 10:08AM,"[apr03'18, 10:08am]"
9,Total $16.00,3,Total $16.00,"[total, $, 16.00]"
153,Mix Longe,2,Mix Longe,"[mix, longe]"
985,The Westin NY Times Square,0,The Westin NY Times Square,"[the, westin, ny, times, square]"
512,FairField Inn,2,FairField Inn,"[fairfield, inn]"
17,Amount: 16.00 USD,3,Amount: 16.00 USD,"[amount, 16.00, usd]"
448,Cardinal Health South,2,Cardinal Health South,"[cardinal, health, south]"
35,Date: 05/21/18 15:30,1,Date: 05/21/18 15:30,"[date, 05/21/18, 15:30]"
342,RUBENS CUBAN CAF�,2,RUBENS CUBAN CAF�,"[rubens, cuban, caf, �]"
255,TOTAL i: $13.00,3,TOTAL i: $13.00,"[total, i, $, 13.00]"
906,Sakagura,2,Sakagura,[sakagura]
430,Panera Bread,2,Panera Bread,"[panera, bread]"
557,300 EAST,2,300 EAST,"[300, east]"
205,AMOUNT:,3,AMOUNT:,[amount]
509,Total: 48.48,3,Total: 48.48,"[total, 48.48]"
109,"High Flying Foods SFO, LLC.",2,"High Flying Foods SFO, LLC.","[high, flying, foods, sfo, llc]"
176,05/22/2018 1:39PM 0001,1,05/22/2018 1:39PM 0001,"[05/22/2018, 1:39pm, 0001]"
196,Intl. Airport,0,Intl. Airport,"[intl, airport]"
32,Total $20.00,3,Total $20.00,"[total, $, 20.00]"
560,"Charlotte, NC 28203",0,"Charlotte, NC 28203","[charlotte, nc, 28203]"
161,5/22/2018 7:31 AM,1,5/22/2018 7:31 AM,"[5/22/2018, 7:31, am]"
431,Cafe 3339,0,Cafe 3339,"[cafe, 3339]"
0,The Ballavue Collection,2,The Ballavue Collection,"[the, ballavue, collection]"
274,TOTAL : $5.50,3,TOTAL : $5.50,"[total, $, 5.50]"
...,...,...,...,...
394,"Temple Tarrace, FL",0,"Temple Tarrace, FL","[temple, tarrace, fl]"
450,"Dublin, OH 43017",0,"Dublin, OH 43017","[dublin, oh, 43017]"
889,Black Sushi,2,Black Sushi,"[black, sushi]"
286,5/16/2018 Deschis: 7:14 Inchis 9:00,1,5/16/2018 Deschis: 7:14 Inchis 9:00,"[5/16/2018, deschis, 7:14, inchis, 9:00]"
896,Date : 4/5/2018 12:55:42 PM,1,Date : 4/5/2018 12:55:42 PM,"[date, 4/5/2018, 12:55:42, pm]"
760,Total: 78.48,3,Total: 78.48,"[total, 78.48]"
276,AMOUNT : $5.5,3,AMOUNT : $5.5,"[amount, $, 5.5]"
84,"Burlingame, CA 94010",0,"Burlingame, CA 94010","[burlingame, ca, 94010]"
47,"Bellevue, WA 98004",0,"Bellevue, WA 98004","[bellevue, wa, 98004]"
582,6518 Fairview Rd.,0,6518 Fairview Rd.,"[6518, fairview, rd]"
696,Hyatt Regency Cambridge,2,Hyatt Regency Cambridge,"[hyatt, regency, cambridge]"
1,"Bellevue, 98004",0,"Bellevue, 98004","[bellevue, 98004]"
164,Total: 5. 00,3,Total: 5. 00,"[total, 5, 00]"
230,13855 Conlan Circle,0,13855 Conlan Circle,"[13855, conlan, circle]"
479,Trans Date: 5/9/2018,1,Trans Date: 5/9/2018,"[trans, date, 5/9/2018]"
485,TOTAL : 25.77,3,TOTAL : 25.77,"[total, 25.77]"
195,Pittsburgh,0,Pittsburgh,[pittsburgh]
869,"New York, NY",0,"New York, NY","[new, york, ny]"
453,8 MAY' 18 11:47 AM,1,8 MAY' 18 11:47 AM,"[8, may, 18, 11:47, am]"
155,66 Hale Ave,0,66 Hale Ave,"[66, hale, ave]"
162,Total Due $0.00,3,Total Due $0.00,"[total, due, $, 0.00]"
961,ROMULUS M1,0,ROMULUS M1,"[romulus, m1]"
174,360 HAMILTON AVE.,0,360 HAMILTON AVE.,"[360, hamilton, ave]"
742,TOTAL: 20.12,3,TOTAL: 20.12,"[total, 20.12]"
987,"New York, NY 10036",0,"New York, NY 10036","[new, york, ny, 10036]"
240,13855 Conlan Circle,0,13855 Conlan Circle,"[13855, conlan, circle]"
802,Phillips Seafood,2,Phillips Seafood,"[phillips, seafood]"
940,AMOUNT PAID 5.98,3,AMOUNT PAID 5.98,"[amount, paid, 5.98]"
919,Total: $ 35.99,3,Total: $ 35.99,"[total, $, 35.99]"
326,#NAME?,3,#NAME?,[name]

In [34]:
df_test.sort_values(by='label')

                                 text label
668                   472 SHAWMUT AVE     A
129              Burlingame, CA 94010     A
212                     Intl, Airport     A
532                  1085 Morrison Dr     A
494                  Dublin, OH 43017     A
962                             48174     A
285              Nr #277942 Masa  #44     A
493                   6360 Frantz Rd.     A
635                  Irving, TX 75063     A
241          Charlotte, NC 28277-3654     A
583               Chariotte, NC 28210     A
960                 29240 ECORSE ROAD     A
23                    Bellevue, 98004     A
239                        Ballantyne     A
469            COLUMBUS INT'L AIRPORT     A
907                211 East 43rd B 1F     A
156            White Plains, NY 10601     A
824                NEW YORK, NY 10018     A
776                  Apr03’18 06:43PM     D
338             to: 05/22/18 17:03:50     D
131            Date: May15'18 08:28PM     D
871  POS:02-02670107 04/01/2018 20:27     D
913             Date: 4/4/18, 7:10 PM     D
70                  15 May'18 8:10 AM     D
238      Back May 22, 2018 at 3:56 PM     D
218                       85/16/13 23     D
964               DATE 02/01/18 10:48     D
250                  05/12/2018 17:21     D
216                    05/14/18 16:44     D
639                    Date: 05/02/18     D
94             Trans Date : 5/15/2018     D
581               Harper's Restaurant     N
312           MATT THE MILLERS TAVERN     N
393                 Fuzzy's Taco Shop     N
468                LAND GRANT BREW CO     N
492        Hyde Park Prime Steakhouse     N
64              COURTYARD BY MARRIOTT     N
853                      Bibble & Sip     N
22            The Bellevue Collection     N
530                     Butcher & Bee     N
284                           Prenota     N
695                            Zephyr     N
235                 Order Total $2.11     T
42                  Amount: 20.00 USD     T
876                       Total 12.15     T
837                   Total: $ 124.10     T
59                       Total: 74.70     T
339             Amount to pay: $20.00     T
462                    Payment $11.84     T
189                    TO0TAL $28. 77     T
545                           Err:509     T
304                Total Brut: 358.00     T
221                           AMOUNT:     T
206                           $48. 00     T
865                      Total $22.21     T

In [35]:
data.le.classes_

array(['A', 'D', 'N', 'T'], dtype=object)

In [37]:
data.le.inverse_transform([0,1,2,3])

c:\python36\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array(['A', 'D', 'N', 'T'], dtype=object)

In [55]:
data.prepare_wordlevel(trainer.opt)

2018-06-04 19:22:56.108938 Loading Glove
2018-06-04 19:22:57.472264 Building vocabulary
2018-06-04 19:22:57.474259 Preparing data
2018-06-04 19:22:57.490218 Buidling embeddings

In [56]:
data.vocabulary['words_ignored']

{'28277': 1,
 '3654': 1,
 '66608': 1,
 '4/02/18': 1,
 '05/21/18': 4,
 '12:48:21': 1,
 "apr03'18": 1,
 '10:08am': 1,
 '�': 1,
 'sakagura': 1,
 '05/22/2018': 2,
 '1:39pm': 1,
 '28203': 1,
 '5/22/2018': 2,
 '3339': 1,
 'ballavue': 1,
 '3418': 1,
 'apr05’18': 1,
 '3:54pm': 1,
 '6725': 1,
 '4941': 1,
 '04/03/18': 1,
 'islandmart': 1,
 '94080': 1,
 '08:01:00': 1,
 '33612': 2,
 'bucshblv': 1,
 '04/03/2018': 1,
 '05/12/18': 1,
 '3-apr-2018': 1,
 '3/27/1b': 1,
 '04/04/2018': 1,
 'resteraunt': 1,
 '2456': 1,
 'apr03’18': 1,
 '20:04': 1,
 '33617': 1,
 '12:49pm': 1,
 '3,0846.00014': 1,
 '04/09/2018': 1,
 'b701': 1,
 '04/04/18': 2,
 '07:35': 1,
 '552.40': 1,
 '09:22pm': 1,
 '447.48': 1,
 'frni': 1,
 '05/23/18': 1,
 '00:13': 1,
 "may07'18": 1,
 '07:56pm': 1,
 '29403': 1,
 '0608': 1,
 '193.04': 1,
 '224.16': 1,
 'hakkasan': 1,
 '05/26/18': 1,
 '05/22/18': 2,
 't0tal': 1,
 '08:41:20': 1,
 '7:42:21': 1,
 "may22'18": 1,
 '01:39pm': 1,
 'tarrace': 1,
 '43017': 1,
 '5/16/2018': 1,
 'deschis': 1,
 'inchis': 1,
 '4/5/2018': 1,
 '12:55:42': 1,
 '94010': 1,
 '98004': 2,
 '6518': 1,
 '13855': 2,
 '5/9/2018': 1}

In [52]:
sorted(data.vocabulary['words'].items(), key=lambda x: x[1]['count'], reverse=True)

[('total', {'count': 25, 'id': 13}),
 ('$', {'count': 17, 'id': 14}),
 ('date', {'count': 13, 'id': 12}),
 ('amount', {'count': 7, 'id': 24}),
 ('cambridge', {'count': 6, 'id': 4}),
 ('2018', {'count': 5, 'id': 126}),
 ('new', {'count': 5, 'id': 127}),
 ('york', {'count': 5, 'id': 128}),
 ('hyatt', {'count': 4, 'id': 2}),
 ('regency', {'count': 4, 'id': 3}),
 ('ny', {'count': 4, 'id': 20}),
 ('am', {'count': 4, 'id': 50}),
 ('may', {'count': 4, 'id': 55}),
 ('w', {'count': 4, 'id': 62}),
 ('blvd', {'count': 4, 'id': 70}),
 ('fl', {'count': 4, 'id': 90}),
 ('nc', {'count': 3, 'id': 6}),
 ('bellevue', {'count': 3, 'id': 9}),
 ('airport', {'count': 3, 'id': 47}),
 ('tampa', {'count': 3, 'id': 89}),
 ('pm', {'count': 3, 'id': 101}),
 ('10036', {'count': 3, 'id': 129}),
 ('ma', {'count': 3, 'id': 146}),
 ('due', {'count': 3, 'id': 147}),
 ('st', {'count': 3, 'id': 153}),
 ('charlotte', {'count': 2, 'id': 5}),
 ('square', {'count': 2, 'id': 10}),
 ('16.00', {'count': 2, 'id': 15}),
 ('the', {'count': 2, 'id': 18}),
 ('13.00', {'count': 2, 'id': 34}),
 ('300', {'count': 2, 'id': 37}),
 ('east', {'count': 2, 'id': 38}),
 ('cafe', {'count': 2, 'id': 51}),
 ('8', {'count': 2, 'id': 54}),
 ('18', {'count': 2, 'id': 56}),
 ('11:47', {'count': 2, 'id': 57}),
 ('nj', {'count': 2, 'id': 72}),
 ('transit', {'count': 2, 'id': 73}),
 ('rail', {'count': 2, 'id': 74}),
 ('360', {'count': 2, 'id': 76}),
 ('ca', {'count': 2, 'id': 84}),
 ('1', {'count': 2, 'id': 88}),
 ('time', {'count': 2, 'id': 92}),
 ("'s", {'count': 2, 'id': 96}),
 ('32nd', {'count': 2, 'id': 112}),
 ('2139', {'count': 2, 'id': 116}),
 ('subtotal', {'count': 2, 'id': 122}),
 ('pittsburgh', {'count': 2, 'id': 149}),
 ('name', {'count': 2, 'id': 178}),
 ('43rd', {'count': 2, 'id': 185}),
 ('575', {'count': 2, 'id': 212}),
 ('memorial', {'count': 2, 'id': 213}),
 ('drive', {'count': 2, 'id': 214}),
 ('conlan', {'count': 2, 'id': 238}),
 ('circle', {'count': 2, 'id': 239}),
 ('ave', {'count': 2, 'id': 244}),
 ('ballantyne', {'count': 1, 'id': 7}),
 ('535', {'count': 1, 'id': 8}),
 ('check', {'count': 1, 'id': 11}),
 ('mix', {'count': 1, 'id': 16}),
 ('longe', {'count': 1, 'id': 17}),
 ('westin', {'count': 1, 'id': 19}),
 ('times', {'count': 1, 'id': 21}),
 ('fairfield', {'count': 1, 'id': 22}),
 ('inn', {'count': 1, 'id': 23}),
 ('usd', {'count': 1, 'id': 25}),
 ('cardinal', {'count': 1, 'id': 26}),
 ('health', {'count': 1, 'id': 27}),
 ('south', {'count': 1, 'id': 28}),
 ('15:30', {'count': 1, 'id': 29}),
 ('rubens', {'count': 1, 'id': 30}),
 ('cuban', {'count': 1, 'id': 31}),
 ('caf', {'count': 1, 'id': 32}),
 ('i', {'count': 1, 'id': 33}),
 ('panera', {'count': 1, 'id': 35}),
 ('bread', {'count': 1, 'id': 36}),
 ('48.48', {'count': 1, 'id': 39}),
 ('high', {'count': 1, 'id': 40}),
 ('flying', {'count': 1, 'id': 41}),
 ('foods', {'count': 1, 'id': 42}),
 ('sfo', {'count': 1, 'id': 43}),
 ('llc', {'count': 1, 'id': 44}),
 ('0001', {'count': 1, 'id': 45}),
 ('intl', {'count': 1, 'id': 46}),
 ('20.00', {'count': 1, 'id': 48}),
 ('7:31', {'count': 1, 'id': 49}),
 ('collection', {'count': 1, 'id': 52}),
 ('5.50', {'count': 1, 'id': 53}),
 ('laguardia', {'count': 1, 'id': 58}),
 ('central', {'count': 1, 'id': 59}),
 ('term', {'count': 1, 'id': 60}),
 ('301', {'count': 1, 'id': 61}),
 ('45th', {'count': 1, 'id': 63}),
 ('street', {'count': 1, 'id': 64}),
 ('avery', {'count': 1, 'id': 65}),
 ('muirfield', {'count': 1, 'id': 66}),
 ('dr.', {'count': 1, 'id': 67}),
 ('e', {'count': 1, 'id': 68}),
 ('busch', {'count': 1, 'id': 69}),
 ('12:35', {'count': 1, 'id': 71}),
 ('cactus', {'count': 1, 'id': 75}),
 ('degrees', {'count': 1, 'id': 77}),
 ('36.04', {'count': 1, 'id': 78}),
 ('order', {'count': 1, 'id': 79}),
 ('2.55', {'count': 1, 'id': 80}),
 ('s', {'count': 1, 'id': 81}),
 ('san', {'count': 1, 'id': 82}),
 ('francisco', {'count': 1, 'id': 83}),
 ('from', {'count': 1, 'id': 85}),
 ('host', {'count': 1, 'id': 86}),
 ('cash', {'count': 1, 'id': 87}),
 ('3003', {'count': 1, 'id': 91}),
 ('15:16', {'count': 1, 'id': 93}),
 ('18:20', {'count': 1, 'id': 94}),
 ('today', {'count': 1, 'id': 95}),
 ('newark', {'count': 1, 'id': 97}),
 ('liberty', {'count': 1, 'id': 98}),
 ('international', {'count': 1, 'id': 99}),
 ('12:44', {'count': 1, 'id': 100}),
 ('60', {'count': 1, 'id': 102}),
 ('bay', {'count': 1, 'id': 103}),
 ('view', {'count': 1, 'id': 104}),
 ('place', {'count': 1, 'id': 105}),
 ('13:04', {'count': 1, 'id': 106}),
 ('6.59', {'count': 1, 'id': 107}),
 ('gipsy', {'count': 1, 'id': 108}),
 ('lime', {'count': 1, 'id': 109}),
 ('31', {'count': 1, 'id': 110}),
 ('west', {'count': 1, 'id': 111}),
 ('st.', {'count': 1, 'id': 113}),
 ('oyster', {'count': 1, 'id': 114}),
 ('point', {'count': 1, 'id': 115}),
 ('kincaid', {'count': 1, 'id': 117}),
 ('manhattan', {'count': 1, 'id': 118}),
 ('chk', {'count': 1, 'id': 119}),
 ('7:15', {'count': 1, 'id': 120}),
 ('gst', {'count': 1, 'id': 121}),
 ('6.38', {'count': 1, 'id': 123}),
 ('05', {'count': 1, 'id': 124}),
 ('08', {'count': 1, 'id': 125}),
 ('tous', {'count': 1, 'id': 130}),
 ('les', {'count': 1, 'id': 131}),
 ('jours', {'count': 1, 'id': 132}),
 ('03', {'count': 1, 'id': 133}),
 ('02', {'count': 1, 'id': 134}),
 ('7.63', {'count': 1, 'id': 135}),
 ('server', {'count': 1, 'id': 136}),
 ('ice', {'count': 1, 'id': 137}),
 ('t', {'count': 1, 'id': 138}),
 ('dob', {'count': 1, 'id': 139}),
 ('cypress', {'count': 1, 'id': 140}),
 ('waters', {'count': 1, 'id': 141}),
 ('ste', {'count': 1, 'id': 142}),
 ('100', {'count': 1, 'id': 143}),
 ('try', {'count': 1, 'id': 144}),
 ('boston', {'count': 1, 'id': 145}),
 ('41.84', {'count': 1, 'id': 148}),
 ('17:14', {'count': 1, 'id': 150}),
 ('108', {'count': 1, 'id': 151}),
 ('39th', {'count': 1, 'id': 152}),
 ('2', {'count': 1, 'id': 154}),
 ('zephyr', {'count': 1, 'id': 155}),
 ('04', {'count': 1, 'id': 156}),
 ('09', {'count': 1, 'id': 157}),
 ('12:38', {'count': 1, 'id': 158}),
 ('mobil', {'count': 1, 'id': 159}),
 ('foundry', {'count': 1, 'id': 160}),
 ('bar', {'count': 1, 'id': 161}),
 ('otg', {'count': 1, 'id': 162}),
 ('management', {'count': 1, 'id': 163}),
 ('fuel', {'count': 1, 'id': 164}),
 ('sale', {'count': 1, 'id': 165}),
 ('12.25', {'count': 1, 'id': 166}),
 ('farhat', {'count': 1, 'id': 167}),
 ('petro', {'count': 1, 'id': 168}),
 ('inc', {'count': 1, 'id': 169}),
 ('30.19', {'count': 1, 'id': 170}),
 ('49.53', {'count': 1, 'id': 171}),
 ('el', {'count': 1, 'id': 172}),
 ('centro', {'count': 1, 'id': 173}),
 ('25.66', {'count': 1, 'id': 174}),
 ('charleston', {'count': 1, 'id': 175}),
 ('sc', {'count': 1, 'id': 176}),
 ('33.80', {'count': 1, 'id': 177}),
 ('650', {'count': 1, 'id': 179}),
 ('821', {'count': 1, 'id': 180}),
 ('16', {'count': 1, 'id': 181}),
 ('savour', {'count': 1, 'id': 182}),
 ('sichuan', {'count': 1, 'id': 183}),
 ('270', {'count': 1, 'id': 184}),
 ('terminal', {'count': 1, 'id': 186}),
 ('a', {'count': 1, 'id': 187}),
 ('jason', {'count': 1, 'id': 188}),
 ('cab', {'count': 1, 'id': 189}),
 ('inc.', {'count': 1, 'id': 190}),
 ('7.15', {'count': 1, 'id': 191}),
 ('1300', {'count': 1, 'id': 192}),
 ('veterans', {'count': 1, 'id': 193}),
 ('45.59', {'count': 1, 'id': 194}),
 ('tr', {'count': 1, 'id': 195}),
 ('391', {'count': 1, 'id': 196}),
 ('70.00', {'count': 1, 'id': 197}),
 ('cibo', {'count': 1, 'id': 198}),
 ('harket', {'count': 1, 'id': 199}),
 ('b', {'count': 1, 'id': 200}),
 ('15:38', {'count': 1, 'id': 201}),
 ('311', {'count': 1, 'id': 202}),
 ('50.56', {'count': 1, 'id': 203}),
 ('5100', {'count': 1, 'id': 204}),
 ('rings', {'count': 1, 'id': 205}),
 ('road', {'count': 1, 'id': 206}),
 ('csh', {'count': 1, 'id': 207}),
 ('0', {'count': 1, 'id': 208}),
 ('43.45', {'count': 1, 'id': 209}),
 ('m', {'count': 1, 'id': 210}),
 ('71.80', {'count': 1, 'id': 211}),
 ('crowne', {'count': 1, 'id': 215}),
 ('plaza', {'count': 1, 'id': 216}),
 ('white', {'count': 1, 'id': 217}),
 ('plains', {'count': 1, 'id': 218}),
 ('back', {'count': 1, 'id': 219}),
 ('22', {'count': 1, 'id': 220}),
 ('at', {'count': 1, 'id': 221}),
 ('2:31', {'count': 1, 'id': 222}),
 ('temple', {'count': 1, 'id': 223}),
 ('dublin', {'count': 1, 'id': 224}),
 ('oh', {'count': 1, 'id': 225}),
 ('black', {'count': 1, 'id': 226}),
 ('sushi', {'count': 1, 'id': 227}),
 ('7:14', {'count': 1, 'id': 228}),
 ('9:00', {'count': 1, 'id': 229}),
 ('78.48', {'count': 1, 'id': 230}),
 ('5.5', {'count': 1, 'id': 231}),
 ('burlingame', {'count': 1, 'id': 232}),
 ('wa', {'count': 1, 'id': 233}),
 ('fairview', {'count': 1, 'id': 234}),
 ('rd', {'count': 1, 'id': 235}),
 ('5', {'count': 1, 'id': 236}),
 ('00', {'count': 1, 'id': 237}),
 ('trans', {'count': 1, 'id': 240}),
 ('25.77', {'count': 1, 'id': 241}),
 ('66', {'count': 1, 'id': 242}),
 ('hale', {'count': 1, 'id': 243}),
 ('0.00', {'count': 1, 'id': 245}),
 ('romulus', {'count': 1, 'id': 246}),
 ('m1', {'count': 1, 'id': 247}),
 ('hamilton', {'count': 1, 'id': 248}),
 ('20.12', {'count': 1, 'id': 249}),
 ('phillips', {'count': 1, 'id': 250}),
 ('seafood', {'count': 1, 'id': 251}),
 ('paid', {'count': 1, 'id': 252}),
 ('5.98', {'count': 1, 'id': 253}),
 ('35.99', {'count': 1, 'id': 254}),
 ('<PAD>', {'count': 0, 'id': 0}),
 ('<UNK>', {'count': 0, 'id': 1})]

In [38]:
trainer.opt['bow_ngram_range'] = (1, 3)
trainer.opt['bow_min_df'] = 3
mytrainer = trainer.BOWTrainer(data)
mytrainer.train()

2018-06-04 15:40:03.549210 Building vocabulary
2018-06-04 15:40:03.551204 Preparing data
2018-06-04 15:40:03.555194 Vectorizing
2018-06-04 15:40:03.562198 Traing
2018-06-04 15:40:03.564170 (0.7222222222222222, 0.6727272727272727)

In [39]:
mytrainer.eval()

2018-06-04 15:40:05.603153 Vectorizing
2018-06-04 15:40:05.606113 0.6727272727272727
[[18  0  0  0]
 [ 6  7  0  0]
 [11  0  0  0]
 [ 1  0  0 12]]

In [41]:
mytrainer = trainer.NNTrainer(data, num_classes=4)

2018-06-04 15:41:39.390019 Loading Glove
2018-06-04 15:41:40.907126 Building vocabulary
2018-06-04 15:41:40.909123 Preparing data
2018-06-04 15:41:40.911117 Buidling embeddings
2018-06-04 15:41:42.326332 Creating model

In [43]:
mytrainer.train(epochs=49000, epochs_eval=1000, verbose=False)

2018-06-04 15:42:19.222758 Training

C:\Users\mirce\git\ML\Experiments\TextClassification\models.py:246: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  return F.softmax(X)

epoch 001000 loss 0.8888 train acc 0.9321 test acc 0.7455
epoch 002000 loss 0.8138 train acc 0.9568 test acc 0.7636
epoch 003000 loss 0.7874 train acc 0.9753 test acc 0.7818
epoch 004000 loss 0.7727 train acc 0.9877 test acc 0.7818
epoch 005000 loss 0.7667 train acc 0.9877 test acc 0.7818
epoch 006000 loss 0.7636 train acc 0.9877 test acc 0.7818
epoch 007000 loss 0.7618 train acc 0.9877 test acc 0.7818
epoch 008000 loss 0.7606 train acc 0.9877 test acc 0.7818
epoch 009000 loss 0.7598 train acc 0.9877 test acc 0.7818
epoch 010000 loss 0.7592 train acc 0.9877 test acc 0.7818
epoch 011000 loss 0.7587 train acc 0.9877 test acc 0.7818
epoch 012000 loss 0.7584 train acc 0.9877 test acc 0.7818
epoch 013000 loss 0.7581 train acc 0.9877 test acc 0.7818
epoch 014000 loss 0.7579 train acc 0.9877 test acc 0.7818
epoch 015000 loss 0.7577 train acc 0.9877 test acc 0.7818
epoch 016000 loss 0.7576 train acc 0.9877 test acc 0.7818
epoch 017000 loss 0.7574 train acc 0.9877 test acc 0.7818
epoch 018000 loss 0.7573 train acc 0.9877 test acc 0.7818
epoch 019000 loss 0.7572 train acc 0.9877 test acc 0.7818
epoch 020000 loss 0.7571 train acc 0.9877 test acc 0.7818
epoch 021000 loss 0.7571 train acc 0.9877 test acc 0.7818
epoch 022000 loss 0.7570 train acc 0.9877 test acc 0.7818
epoch 023000 loss 0.7569 train acc 0.9877 test acc 0.7818
epoch 024000 loss 0.7569 train acc 0.9877 test acc 0.7818
epoch 025000 loss 0.7569 train acc 0.9877 test acc 0.7818
epoch 026000 loss 0.7568 train acc 0.9877 test acc 0.7818
epoch 027000 loss 0.7568 train acc 0.9877 test acc 0.7818
epoch 028000 loss 0.7567 train acc 0.9877 test acc 0.7818
epoch 029000 loss 0.7567 train acc 0.9877 test acc 0.7818
epoch 030000 loss 0.7567 train acc 0.9877 test acc 0.7818
epoch 031000 loss 0.7566 train acc 0.9877 test acc 0.7818
epoch 032000 loss 0.7566 train acc 0.9877 test acc 0.7818
epoch 033000 loss 0.7566 train acc 0.9877 test acc 0.7818
epoch 034000 loss 0.7566 train acc 0.9877 test acc 0.7818
epoch 035000 loss 0.7565 train acc 0.9877 test acc 0.7818
epoch 036000 loss 0.7565 train acc 0.9877 test acc 0.7818
epoch 037000 loss 0.7565 train acc 0.9877 test acc 0.7818
epoch 038000 loss 0.7565 train acc 0.9877 test acc 0.7818
epoch 039000 loss 0.7565 train acc 0.9877 test acc 0.7818
epoch 040000 loss 0.7565 train acc 0.9877 test acc 0.7818
epoch 041000 loss 0.7564 train acc 0.9877 test acc 0.7818
epoch 042000 loss 0.7564 train acc 0.9877 test acc 0.7818
epoch 043000 loss 0.7564 train acc 0.9877 test acc 0.7818
epoch 044000 loss 0.7564 train acc 0.9877 test acc 0.7818
epoch 045000 loss 0.7564 train acc 0.9877 test acc 0.7818
epoch 046000 loss 0.7564 train acc 0.9877 test acc 0.7818
epoch 047000 loss 0.7564 train acc 0.9877 test acc 0.7818
epoch 048000 loss 0.7564 train acc 0.9877 test acc 0.7818
epoch 049000 loss 0.7564 train acc 0.9877 test acc 0.7818

In [44]:
mytrainer.eval()

C:\Users\mirce\git\ML\Experiments\TextClassification\models.py:246: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  return F.softmax(X)

2018-06-04 15:46:18.780983 0.7818181818181819
[[14  4  0  0]
 [ 0 13  0  0]
 [ 0  7  4  0]
 [ 0  1  0 12]]

In [15]:
len(mytrainer.vocabulary['words'])

1140

In [40]:
sorted(mytrainer.vocabulary['words'])

['$',
 "'s",
 '0',
 '0.00',
 '00',
 '0001',
 '00:13',
 '01:39pm',
 '02',
 '03',
 '04',
 '04/03/18',
 '04/03/2018',
 '04/04/18',
 '04/04/2018',
 '04/09/2018',
 '05',
 '05/12/18',
 '05/21/18',
 '05/22/18',
 '05/22/2018',
 '05/23/18',
 '05/26/18',
 '0608',
 '07:35',
 '07:56pm',
 '08',
 '08:01:00',
 '08:41:20',
 '09',
 '09:22pm',
 '1',
 '100',
 '10036',
 '108',
 '10:08am',
 '11:47',
 '12.25',
 '12:35',
 '12:38',
 '12:44',
 '12:48:21',
 '12:49pm',
 '12:55:42',
 '13.00',
 '1300',
 '13855',
 '13:04',
 '15:16',
 '15:30',
 '15:38',
 '16',
 '16.00',
 '17:14',
 '18',
 '18:20',
 '193.04',
 '1:39pm',
 '2',
 '2.55',
 '20.00',
 '20.12',
 '2018',
 '20:04',
 '2139',
 '22',
 '224.16',
 '2456',
 '25.66',
 '25.77',
 '270',
 '28203',
 '28277',
 '29403',
 '2:31',
 '3,0846.00014',
 '3-apr-2018',
 '3/27/1b',
 '30.19',
 '300',
 '3003',
 '301',
 '31',
 '311',
 '32nd',
 '33.80',
 '3339',
 '33612',
 '33617',
 '3418',
 '35.99',
 '36.04',
 '360',
 '3654',
 '391',
 '39th',
 '3:54pm',
 '4/02/18',
 '4/5/2018',
 '41.84',
 '43.45',
 '43017',
 '43rd',
 '447.48',
 '45.59',
 '45th',
 '48.48',
 '49.53',
 '4941',
 '5',
 '5.5',
 '5.50',
 '5.98',
 '5/16/2018',
 '5/22/2018',
 '5/9/2018',
 '50.56',
 '5100',
 '535',
 '552.40',
 '575',
 '6.38',
 '6.59',
 '60',
 '650',
 '6518',
 '66',
 '66608',
 '6725',
 '7.15',
 '7.63',
 '70.00',
 '71.80',
 '78.48',
 '7:14',
 '7:15',
 '7:31',
 '7:42:21',
 '8',
 '821',
 '94010',
 '94080',
 '98004',
 '9:00',
 '<PAD>',
 '<UNK>',
 'a',
 'airport',
 'am',
 'amount',
 "apr03'18",
 'apr03’18',
 'apr05’18',
 'at',
 'ave',
 'avery',
 'b',
 'b701',
 'back',
 'ballantyne',
 'ballavue',
 'bar',
 'bay',
 'bellevue',
 'black',
 'blvd',
 'boston',
 'bread',
 'bucshblv',
 'burlingame',
 'busch',
 'ca',
 'cab',
 'cactus',
 'caf',
 'cafe',
 'cambridge',
 'cardinal',
 'cash',
 'central',
 'centro',
 'charleston',
 'charlotte',
 'check',
 'chk',
 'cibo',
 'circle',
 'collection',
 'conlan',
 'crowne',
 'csh',
 'cuban',
 'cypress',
 'date',
 'degrees',
 'deschis',
 'dob',
 'dr.',
 'drive',
 'dublin',
 'due',
 'e',
 'east',
 'el',
 'fairfield',
 'fairview',
 'farhat',
 'fl',
 'flying',
 'foods',
 'foundry',
 'francisco',
 'frni',
 'from',
 'fuel',
 'gipsy',
 'gst',
 'hakkasan',
 'hale',
 'hamilton',
 'harket',
 'health',
 'high',
 'host',
 'hyatt',
 'i',
 'ice',
 'inc',
 'inc.',
 'inchis',
 'inn',
 'international',
 'intl',
 'islandmart',
 'jason',
 'jours',
 'kincaid',
 'laguardia',
 'les',
 'liberty',
 'lime',
 'llc',
 'longe',
 'm',
 'm1',
 'ma',
 'management',
 'manhattan',
 'may',
 "may07'18",
 "may22'18",
 'memorial',
 'mix',
 'mobil',
 'muirfield',
 'name',
 'nc',
 'new',
 'newark',
 'nj',
 'ny',
 'oh',
 'order',
 'otg',
 'oyster',
 'paid',
 'panera',
 'petro',
 'phillips',
 'pittsburgh',
 'place',
 'plains',
 'plaza',
 'pm',
 'point',
 'rail',
 'rd',
 'regency',
 'resteraunt',
 'rings',
 'road',
 'romulus',
 'rubens',
 's',
 'sakagura',
 'sale',
 'san',
 'savour',
 'sc',
 'seafood',
 'server',
 'sfo',
 'sichuan',
 'south',
 'square',
 'st',
 'st.',
 'ste',
 'street',
 'subtotal',
 'sushi',
 't',
 't0tal',
 'tampa',
 'tarrace',
 'temple',
 'term',
 'terminal',
 'the',
 'time',
 'times',
 'today',
 'total',
 'tous',
 'tr',
 'trans',
 'transit',
 'try',
 'usd',
 'veterans',
 'view',
 'w',
 'wa',
 'waters',
 'west',
 'westin',
 'white',
 'york',
 'zephyr',
 '�']